# Python bytecode
__pycache__/
*.py[cod]

# Django specific
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variables
.env
*.env

# Python virtual environments
/myvenv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
.coverage
htmlcov/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Sphinx documentation
docs/_build/

# Pytest
.cache
pytest_cache/

#data
data/