body {
    background-color: #f9f7fb;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar h1 {
    margin: 0;
    font-size: 1.5rem;
}
.search-bar {
    margin: 40px 0 40px auto;
    max-width: 350px;
    position: relative;
}
.search-bar input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 150px; /* 둥근 모서리 */
    border: 1px solid #ccc;
    padding-right: 40px; /* 돋보기 아이콘 공간 확보 */
}
.search-bar .fa-search {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}
.white-container{
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}
.sub-nav{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sub-nav p{
    margin: auto auto auto 20px;
    font-size: 20px;
    font-weight: bold;
}
.main-content{
    display: flex;
    padding: 10px;
}
.main-content img{
    width: 190px;
    height: 190px;
    background-color: #ccc;
    border-radius: 25px;
}
.content-detail{
    margin: auto 0 auto 40px;
    text-align: left;
    flex-grow: 1;
    justify-content: start;
}
.content-detail h5{
    font-weight: 540;
}
.content-detail .small-font{
    font-size: 12px;
}
.content-detail button{
    background-color: #e6dff0;
    border: none;
    border-radius: 50px;
    padding: 8px 25px;
}
.cloud-Img{
    display: flex;
    justify-content: space-evenly;
}
.cloud-Img img{
    margin: 20px;
}

.review-nav{
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    align-items: center;
}
.review-nav p{
    margin: auto 10px auto 10px;
    font-size: 15px;
    font-weight: bold;
}

.review-list .review-item{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.review-item img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
}
.review-item .content {
    margin: auto 0 auto 0;
    text-align: left;
    flex-grow: 1;
    justify-content: start;
}
.review-item .content h5 {
    margin: 0;
}
.review-item .content p {
    margin: 0;
    color: #888;
}
.review-item .icon {
    color: #888;
    cursor: pointer;
}
.sidebar {
    position: fixed;
    top: 60px; /* Adjust based on your navbar height */
    left: 0;
    width: 60px;
    height: calc(100% - 60px); /* Adjust based on your navbar height */
    background-color: white;
    padding: 10px;
}
.sidebar .btn {
    width: 100%;
    margin-bottom: 10px;
}
.content {
    margin-top: 80px; /* 네비게이션 바 아래로 충분히 공간 주기 */
    padding-left: 80px; /* 사이드바와 겹치지 않도록 패딩 추가 */
}
.foot{
    margin-bottom: 15px;
}
.foot img{
    width: 80px;
    height: 30px;
}